
#head {
    padding: 0;
}

#container-body {
    max-width: 1000px;
    margin:auto
}

#container-jumbotron {
    background-color: rgb(236, 232, 232);
}

.col-3{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

